* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    margin:0 10%;
}
.container-div {
    width:100%;
    display: grid;
    grid-template-columns: 5% repeat(3,2fr) auto;
    grid-template-rows: repeat(5,auto);
    grid-template-areas: "logo head head head icon"
    "logo disc disc disc icon"
    "nav nav nav nav nav"
    "cont cont cont cont cont"
    "asd asd asd asd asd"
    "foot foot foot foot foot" ;
    row-gap: 3%;
    margin:1 auto 1 auto;
    padding:0;
    border:1px solid black;
}

nav {
    grid-area: nav;
    background-color: black;
}
article {
    grid-area: cont;
    background-color: blue;
}
aside {
    grid-area: asd;
    background-color: brown;
}
footer {
    grid-area: foot;
    background-color: bisque;
}
.logo-sec {
    grid-area: logo;
    background-color: black;
    padding:40% 20%;
}

h2 {
    grid-area: head;
    font-family: 'Yellowtail', cursive;
    padding-top: 2%;
}
span {
    grid-area:disc;
    font-family: 'Lora', serif;
    font-size: 12px;
    color: rgb(189, 186, 186);
}
.icon-sec{
    
    grid-area:icon;
    border:1px solid blue;
    padding-top: 10%;
}
i {
    
}
